<nav>
    {{#if logged_in}}
    <a href="/profile">profile</a> |
    <button class="no-button" id="logout">logout</button>
    {{else}}
        <a href="/login">
            <div>Hey there,</div>
            <div>Log in</div>
        </a>
        <div id="hamburger-menu" style="display: flex;">
            <div class="nav-links" style="display: flex; align-items: flex-end;">
                <a href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
            </div>
            <button class="hamburger-button"> ☰ </button>
        </div>
    {{/if}}
</nav>