<div class="login-card">
    <form class="signup-form">
        <div class="form-card">
            <label for="address1">Address 1</label>
            <input class="form-input" type="text" id="signup-first"/>

            <label for="address2">Address 2</label>
            <input class="form-input" type="text" id="signup-last"/> 

            <label for="city">City</label>
            <input class="form-input" type="text"/>

            <label for="state">State</label>
            <input class="form-input" type="text"/>
        
            <label for="zip">Zip</label>
            <input class="form-input" type="text"/>

        <div class="detail-card">
            <label for="bed">Bed</label>
            <input class="detail-input" type="text"/>

            <label for="bath">Bath</label>
            <input class="detail-input" type="text"/>
        </div>
        
        <div class="form-card">
            <label for="rating">Rating</label>
            <input class="form-input" type="text"/>

            <label for="link">Link</label>
            <input class="form-input" type="text"/>

            <label for="notes">Notes</label>
            <textarea></textarea>
        </div>
        <div class="buttons display-flex">
            <div class="image-buttons">
                <a href="/apartmentCollection">upload an image</a>
            </div>
        </div>
        <div class="form-card">
            <div class="buttons display-flex">
                <div class="start-buttons">
                    <a href="/apartmentCollection">Submit</a>
                </div>
            </div> 
        </div>
    </form>
</div>