<div class="form-background">
<form class="apartment-form">
    <h2>Add an apartment</h2>
    <div class="form-card">
            {{!-- <label for="collection">Which collection is this apartment in?</label>
            <select id="collection-id" name="collection">
                <option value="1">House Search with ..</option>
            </select> --}}
            <label for="collection-id">Collection ID:</label>
            <input class="form-input" type="text" id="collection-id"/>
        </div>
        <div class="form-card">
            <label for="address1">Address 1:</label>
            <input class="form-input" type="text" id="address1"/>
      
            <label for="address2">Address 2:</label>
            <input class="form-input" type="text" id="address2"/> 

            <label for="city">City:</label>
            <input class="form-input" type="text" id="city"/>
        </div>
        {{!-- <div class="form-card"> --}}
        <div class="detail-card"> 
            <div>
                <label for="state">State:</label><br>
                <input class="detail-input" type="text" id="state"/>
            </div>
            <div>
                <label for="zip">Zip:</label><br>
                <input class="detail-input" type="text" id="zip"/>
            </div>
            <div>
                <label for="rent">Rent:</label><br>
                <input class="detail-input" type="text" id="rent"/>
            </div>
            <div>
                <label for="bed">Beds:</label><br>
                <input class="detail-input" type="text" id="bed"/>
            </div>
            <div>
                <label for="bath">Baths:</label><br>
                <input class="detail-input" type="text" id="bath"/>
            </div>
            <div>
                <label for="rating">Rating:</label><br>
                <input class="detail-input" type="text" id="rating"/>
            </div>
            <label for="state">State</label>
            <input class="detail-input" type="text" id="state"/>

            <label for="zip">Zip</label>
            <input class="detail-input" type="text" id="zip"/>
        
            <label for="rent">Rent</label>
            <input class="detail-input" type="text" id="rent" placeholder="$"/>
        </div>
        <div class="detail-card">       
            <label for="bed">Beds</label>
            <input class="detail-input" type="text" id="bed"/>

            <label for="bath">Baths</label>
            <input class="detail-input" type="text" id="bath"/>
        
            <label for="rating">Rating</label>
            <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
            {{!-- <input class="detail-input" type="text" id="rating"/> --}}
        </div>

        <div class="form-card">
            <label for="link">Link</label>
            <input class="form-input" type="text" id="link"/>
        </div>

        <div class="form-card">
            <label for="notes">Notes:</label>
            <textarea id="notes"></textarea>
        </div>
        <div class="form-card">
            <label for="link">Link:</label>
            <input class="form-input" type="text" id="link"/>
        </div>
        <div class="form-card">
            <label for="image-link">Link to image:</label>
            <input class="form-input" type="text" id="image-link"/>
        </div>
        <div class="form-card">
            <div class="buttons display-flex">
                <div class="start-buttons">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div> 
        </div>
    </form>
    </div>

    <script src="/js/apartmentform.js"></script>
