<div id="'container">
    <div id="'header">
        <h1>Our Space</h1>
    </div>
    <div id="address">
        <h2></h2>
    </div>
    <div id="card">
        <div id="details">
            <ul class="aptDetails">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p class="addedBy"></p>
            <button id="dltButton">Delete this listing</button>
        </div>
        <div id="comments">
            <div id="prevComments">
                <h3></h3>
                <span></span>
                <p></p>
            </div>
            <input id="addComment" placeholder="Add a comment...">
        </div>
        <div id="map">
        </div>

    </div>

    <footer>Ourspace</footer>
</div>