    <form class="signup-form">
        <div class="form-card">
            <label for="address1">Address 1</label>
            <input class="form-input" type="text" id="signup-first"/>
        </div>
        <div class="form-card">
            <label for="address2">Address 2</label>
            <input class="form-input" type="text" id="signup-last"/> 
        </div>
        <div class="form-card">
            <label for="city">City</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <label for="state">State</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <label for="zip">Zip</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <label for="bed">Bed</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <label for="bath">Bath</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <label for="rating">Rating</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <label for="link">Link</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <label for="notes">Notes</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <div class="buttons display-flex">
                <div class="start-buttons">
                    <a href="/apartmentCollection">upload an image</a>
                </div>
            </div> 
        </div>
        <div class="form-card">
            <div class="buttons display-flex">
                <div class="start-buttons">
                    <a href="/apartmentCollection">Submit</a>
                </div>
            </div> 
        </div>
    </form>