<div id="'container">
    <div id="'header">
        <h1>Our Space</h1>
    </div>
    <div id="address">
        <h2>123 Street Road #2</h2>
    </div>
    <div id="card">

        <div id="details">
            <ul class="aptDetails">
                <li>3 beds / 2 baths</li>
                <li>Rent: $1,200.00</li>
                <li>Lease Length: 1 year</li>
                <li>Notes:</li>
            </ul>
            <p class="addedBy">Added by Hyuntae 12/1/23 1:35 PM</p>
            <button id="dltButton">Delete this listing</button>
        </div>
        <div id="comments">

            <div id="prevComments">
                <h3>Sam</h3>
                <span>11/13/23 10:58 PM</span>
                <p>Love it! Bi-level is appreciated for my cat, he'll love running up and down the stairs.</p>
            </div>
            <input id="addComment" placeholder="Add a comment...">
        </div>

        <div id="map">
            <p>Map Goes Here</p>
        </div>

    </div>

    <footer>Ourspace</footer>
</div>