<aside>
  <nav class="nav-bar">
    <a href="">Add a place</a>
    <a href="">Start a new search</a>
  </nav>
</aside>

{{#if showApartments}}
  <div class="row">
    <div class="col-md-4" style="background-color: rgb(194, 222, 152);"></div>
    <div class="col-md-4" style="background-color: rgb(194, 222, 152);"></div>
    <div class="col-md-4" style="background-color: rgb(194, 222, 152);"></div>
  </div>
  <div class="row">
    <div class="col-md-4" style="background-color: rgb(194, 222, 152);"></div>
    <div class="col-md-4" style="background-color: rgb(194, 222, 152);"></div>
    <div class="col-md-4" style="background-color: rgb(194, 222, 152);"></div>
  </div>
{{else}}
  <a href="/apartmentCollection">Add apartment</a>
{{/if}}

<script src="/controllers/api/apartmentCollectionRoutes.js"></script>
