<div class="login-card">
    <h2 class="card-title">Start a new search</h2>
    <p>Lets find some places!</p>
    <br>

    <form class="collection-form">
        <div class="form-card">
            <label for="new-search">Collection title: </label><br><br>
            <input class="form-input" type="text" id="title-input" placeholder="ex. Apartment Search w/ MJ"/>
        </div>
        <div class="form-card">
            <div class="buttons display-flex">
                <div class="start-buttons">
                    {{!-- <a href="/apartmentForm">Lets go!</a> --}}
                    <button class="btn btn-primary" type="submit">Let's go!</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="/js/collectionform.js"></script>
