<div class="login-card">
    <h2 class="card-title">Add a new search</h2>
    <p>Lets find some places!</p>
    <br>
    <br>
    <div class="form-card">
        <label for="new-search">Collection Title</label>
        <input class="form-input" type="text"/>
    </div>
    <div class="form-card">
        <div class="buttons display-flex">
            <div class="start-buttons">
                <a href="/apartmentForm">Lets go!</a>
            </div>
        </div>
    </div>
</div>