<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our space</title>
</head>
<body>
    <header>
        <h1>Our Space</h1>
    <!-- {{#if logged_in}}
    <nav>
        {{!-- <a href="">log out</a> --}}
      {{!-- <link rel="homepage" href="/views/homepage.handlebars" id="logout" log out /> --}}
    </nav>
    {{/if}} -->
    </header>
    <main>
        Organize your saved housing searches in one place!
        <div class="started-button">
            <button type="submit">Get started</button>
        </div>
        <div class="signin-button">
            <button type="submit">Sign in</button>
        </div>
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html> 