<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our space</title>
</head>
<body>
    <header>
        <h1>Our Space</h1>
    </header>
    <main>
        <h2>Organize your saved housing searches in one place</h2>
        <div class="button">
            <button type="submit">Get started</button>
            <button type="submit">Sign in</button>
        </div>
    </main>
</body>
</html> 