<div class="homepage">
    <div class="hero-text"><h2>Organize your saved housing searches in one place!</h2></div>
    <div class="buttons display-flex">
        <div class="start-buttons">
            <a href="/signup">Get started</a>
        </div>
        <div class="start-buttons">
            <a href="/login">Sign in</a>
        </div>
    </div>
</div>