<div class="login-card">
    <h2 class="card-title">Sign in</h2>
    <text>Welcome back, good luck searching!</text>
    <br>
    <br>
    <form class="login-form">
        <div class="form-card">
            <label for="email-login"><b>Email address</b></label>
            <input class="form-input" type="text" id="email-login" placeholder="Enter email address"/>

            <label for="password-login"><b>Password</b></label>
            <input class="form-input" type="text" id="password-login" placeholder="Enter password"/>
        </div>
        <div class="form-card">
            <div class="buttons display-flex">
                <div class="start-buttons">
                    {{!-- <a href="/landingpage">Login</a> --}}
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
            </div> 
        </div>
    </form>
</div>


<script src="/js/login.js"></script>
