<div class="login-card">
    <h2 class="card-title">Sign in</h2>
    <text>Welcome back, good luck searching!</text>
    <form class="login-form">
        <div class="form-card">
            <label for="email-login"><b>Email address</b></label>
            <input class="form-input" type="text" placeholder="Enter email address"/>

            <label for="password-login"><b>Password</b></label>
            <input class="form-input" type="text" placeholder="Enter password"/>

            <button type="submit">Login</button>
        </div>
    </form>
</div>


<script src="/public/js/login.js"></script>