<div class="login-card">
    <h2>Sign in</h2>
    <text>Welcome back, good luck searching!</text>
    <form class="container">
        <div class="login-container">
            <label for="email-login"><b>Email address</b></label>
            <input class="form-input" type="text" placeholder="Enter email address"/>

            <label for="password-login"><b>Password</b></label>
            <input class="form-input" type="text" placeholder="Enter password"/>

            <button type="submit">Login</button>
        </div>
    </form>
</div>
<div class="login-card">
    <h2>Create an Account</h2>
    <text>Lets find some places!</text>
    <form class="container">
        <div class="create-container">
            <label for="first-name">First name</label>
            <input/>
            <label for="last-name">Last name</label>
            <input/> 

            <label for="email">Email address</label>
            <input class="form-input" type="text"/>

            <label for="password">Password</label>
            <input class="form-input" type="text"/>

            <label for="reenter-password">Re-enter password</label>
            <input class="form-input" type="text"/>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>

