<div class="login-card">
    <h2 class="card-title">Create an Account</h2>
    <text>Lets find some places!</text>
    <br>
    <br>
    <form class="signup-form">
        <div class="form-card">
            <label for="first-name">First name</label>
            <input class="form-input" type="text" id="firstname-signup"/>
        </div>
        <div class="form-card">
            <label for="last-name">Last name</label>
            <input class="form-input" type="text" id="lastname-signup"/> 
        </div>
        <div class="form-card">
            <label for="email">Email address</label>
            <input class="form-input" type="text" id="email-signup"/>
        </div>
        <div class="form-card">
            <label for="password">Password</label>
            <input class="form-input" type="text" id="password-signup"/>
        </div>
        <div class="form-card">
            <label for="reenter-password">Re-enter password</label>
            <input class="form-input" type="text"/>
        </div>
        <div class="form-card">
            <div class="buttons display-flex">
                <div class="start-buttons">
                    {{!-- <a href="/apartmentCollection">Sign up</a> --}}
                    <button class="btn btn-primary" type="submit">signup</button>
                </div>
            </div> 
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>
