:root {
    --primary: #CAD870;
    --secondary: #e4dcd4;
    --tertiary: #C9673A;
    --quatrinary: #f4ece4;
    --light: #FEFCFA;
    --dark: #1E1408;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
  }
  
  body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--light);
  }

  h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
  }

  h2 {
    font-family: 'Lora', serif;
    font-size: 60px;
    font-weight: 400;
  }

  h3 {
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 400;
  }

  h4 {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: 400;
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }

  p a {
    text-decoration: underline;
  }

  li a {
    text-decoration: underline;
  }
  
  header {
    padding: 5px;
    text-align: center;
    background: var(--light);
    color: var(--dark);
    box-shadow: 0px 3px 10px 3px rgba(30, 20, 8, 0.20);
  }
  
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }

  nav {
    display: flex;
  }
  
  nav a {
    color: var(--dark);
    text-decoration: none;
    text-align: left;
    margin-right: 15px;;
  }
  
  nav a:hover {
    color: var(--primary);
  }
  
  .container {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .painting {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  .painting-details {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  /* CARDS */
  .card {
    margin: 20px;
    height: fit-content;
    flex: 0 1 300px;
    border-radius: 10px;
    background-color: #f4f4dc;
    border: none;
    color: var(--dark);
    overflow: hidden;
    padding: 1rem;
  }

  .card .description {
    text-align: center;
    font-size: 13px;
    margin: 0;
  }

  .card img {
    border-radius: 3px;
  }
  
  .login-card {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 80%;
    padding: 40px 40px 0 40px;
    border-radius: var(--border-radius);
    background-color: var(--light);
    color: var(--dark);
  }
  
  .card header {
    color: var(--dark);
    font-family: 'Lora', serif;
    font-size: 20px;
    margin: 0;
    padding-bottom: 15px;
    background-color: #f4f4dc;
    box-shadow: 0px 0px 0px 0px rgba(30, 20, 8, 0.20);
  }
  
  .card-body {
    font-size: 1.4rem;
  }
  
  .account-background {
    width: 100vw;
    background-color: var(--secondary);
  }

  .form-background {
    width: 100vw;
    background-color: #F2F4D9;
  }

  .login-card .card-title {
    font-size: 40px;
  }

  .login-card p {
    margin: 0;
  }

/* Apartment form */

.apartment-form {
  margin: 50px auto;
  width: 80%;
  padding: 20px 40px;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
}

.form-background .apartment-form h2 {
  font-size: 40px;
}


.detail-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.detail-card > div {
  margin: 10px;
}

.detail-input {
    border-color: #1a1a1a;
    margin: auto;
    width: 8rem;
    height: 45px;
    border-radius: 4px;
}

  input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

 
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }

  .homepage {
    flex-direction: column;
    margin: 10% 10%;
  }

  .hero-text {
    text-align: center;
  }

  .buttons {
    margin: 20px;
    justify-content: center;
    text-align: center;
  }

  .start-buttons {
    background-color: #D5E08D;
    margin: 40px;
    width: 200px;
    height: 60px;
    border-radius: 16px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-buttons {
    background-color: #D5E08D;
    width: 100%;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start-buttons:hover {
    box-shadow: 0px 17px 50px 22px rgba(202, 216, 112, 0.50);
  }

  .btn.btn-primary {
    background-color: #D5E08D;
    color: black;

}

.btn.btn-primary:hover {
  background-color: #D5E08D;
}


  .hamburger-button {
    cursor: pointer;
    background-color: var(--light);
    border: none;
    font-size: 30px;
  }

  .nav-links {
    display: none;
    background-color: var(--dark);
    color: var(--light);
    position: absolute;
    right: 0%;
    top: 58px;
    z-index: 6;
 }
 .nav-links a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
 }
 .nav-links a:hover {
    background-color: #111;
 }

  #ourspace-image {
    height: 36px;
  }

  /* apartment handlebar */

  /* .aptCard {
    background-color: white;
    margin: 20px 20px;
    width: 75%;
    margin: auto;
    border: 1px solid black;
  } */

  /* .aptbuttons {
    margin: 2% 30%;
    justify-content: center;
    text-align: center;
    background-color: #ca673b;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
    font-weight: bold;
    width: 175px;
    border: none;
  } */

  .copyBtn, .aptbuttons {
  background-color: #ca673b;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 3px #999;
  }

  .copyBtn:hover, .aptbuttons:hover {opacity: 1}

  .copyBtn:active, .aptbuttons:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(9px);
  }


  ul.apt {
    list-style: none;
    padding-left: 0px;
    line-height: 25px;
    
  }

  .aptDetails {
    background-color: #f3f4d9;
    margin: 20px 20px;
    padding: 20px;
    width: 95%;
    border-radius: 5px;
  }

.row {
  background-color: #D5E08D;
  border-radius: 5px;
}

.info-col {
  margin: 0 45px;
}

p {
  font-size: 1.1rem;
  margin: 1rem;
  line-height: 1.5;
}

.comment {
  background-color: var(--quatrinary);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  padding: 15px;
}

.comment h4 {
  padding: 0px;
}

.comment p {
  margin: 0;
}

  .preComments {
    background-color: #f1ece7;
    margin: 20px;
    padding: 25px 25px 0px 25px;
    border-radius: 5px;
    margin: 5px 20px;
    height: 150px;
    width: 95%;
  }

  .addComment {
    background-color: #f1ece7;
    padding: 25px;
    border-radius: 5px;
    margin: 5px 20px;
    border: none;
    height: 30px;
    width: 100%;
  }

  #map{
    border: 1px solid black;
    width: 500px;
    height: 455px;
    margin-top: 190px;
  }

  #aptCont {
    margin: 20px auto;
  }

  #address {
    margin: 20px;
  }

  #comment {
    border: none;
    background-color: var(--quatrinary);
    outline: none;
  }

  #comment::placeholder {
    color: rgb(118, 118, 118);
  }

  #postButton {
    margin: 0px 0px 50px 20px;
  }

  /* Apartment page */

  #rating {
    color: var(--tertiary)
  }

  #logout {
    border: none;
    background-color: transparent;
  }

  #logout:hover {
    color: var(--primary);
  }

  @media screen and (max-width: 480px) {
    h2 {
      font-size: 40px;
    }
  }